<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "amy_pic.png" %>
	</div>

	<div id="content">
		<h1>I am Amy Plant</h1>
		<p>I am a teacher, coder, dreamer.</p>
		<p>This week I built a blog in Rails 5, with the help of Mackenzie Child</p>
		<p>If you'd like to follow along with Mackenzie to learn more Ruby on Rails, find him on Twitter <a href="http://twitter.com/mackenziechild">@MackenzieChild</a> or on the web at <a href="http://mackenziechild.me">mackenziechild.me</a>, and get his posts and exclusive content in your inbox by signing up for his newsletter <a href="http://eepurl.com/02olT">here</a>.</p>
	</div>
</div>
